* {
    font-family: Arial, Helvetica, sans-serif;
  }

body {
      background-color: #151515;
  }

  .main-container {
      display: flex;
      justify-content: space-around;
  }

  .container-1 {
      margin-top: 3%;
      width: 60%;
      height: 500px;
      margin-right: 10px;
     
  }

  .container-2 {
      width: 35%;
      background-color: black;
      margin-top: 5%;
      color: white;
      border: solid gray;
      border-radius: 7px;
      margin-right: 11%;

  }
  

  form {
      background-color: #000000;
      width: 100%;
      height: 460px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .input-box {
      width: 98%;
      height: 70px;
      display: flex;
      justify-content: center;
  }

  .input-1,
  .input-2,
  .remember {
      width: 90%;
      height: 40px;
      border:  solid gray;
      border-radius: 7px;
      background-color: #000000;
      color: white;


  }

  .box {
      padding-top: auto;
      width: 35%;
      height: 25px;
      color: gray;
      align-items: left;
  }
 

  .header {
      margin-bottom: 15px;
  }

  p {
      color: gray;
      font-size: 18px;
  }

  .btn {
      width: 90%;
      height: 60px;
  }

  .btn {
      width: 230px;
      height: 50px;
      margin-top: 40px;
      background-color: #2f2f2f;
      border-radius: 7px;
      border: none;
      color: white;
  }

  .btn {
      width: 230px;
      padding: 10px;
      background-color: #2f2f2f;
      color: white;
      border: none;
      border-radius: 7px;
      font-size: 20px;
      cursor: pointer;
      
  }

  .btn:hover {
      background-color: gray;
  }

  a {
      color: orange;
      text-decoration: none;
      font-weight: 700;
  }

  input {
      font-size: 17px;
      font-weight: 600;
  }

.logo {
color: white;
font-size: 50px;
margin-left: 100px;
margin-top: 5%;
margin-left: 35%;
  }

.logo2 {
margin-left: 10px;
background-color: #ff9000;
padding: 10px;
font-size: 40px;
border-radius: 7px;
color: #000000;
  }
.there {
margin-left: 25%;
font-size: 60px;
color: white;
  }